/*푸터부분*/
footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding: 20px;
  padding-bottom: 20px;
  background-color: white;
}
.footer-block {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e9ecef;
  padding: 5px;
}
.footer-block :hover {
  transform: scale(1.1);
}
.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.footer-icons img {
  width: 25px;
}
