/*인포부분*/
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.info-bar__time {
  font-size: 20px;
  font-weight: bold;
}
.info-bar__icon img {
  width: 20px;
}

/*메뉴부분*/
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
}
.menu-bar__location {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu-bar__location div img {
  width: 25px;
  font-weight: bold;
}
.menu-bar__icon img {
  width: 25px;
  padding-right: 5px;
}
